<footer>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
  <span class="footer-text">&copy; 2026 Josh Wolfe. All rights reserved.</span>
  <div class="footer-icons">
    <a
      href="https://github.com/jpwol"
      target="_blank"
      rel="noopener"
      aria-label="Visit my github"
    >
      <i
        class="fa-brands fa-github"
        style="font-size: 2rem; color: var(--title)"
      ></i>
    </a>
    <a
      href="https://www.linkedin.com/in/joshua-wolfe-596197359/"
      target="_blank"
      rel="noopener"
      aria-label="Visit my linkedin"
    >
      <i
        class="fa-brands fa-linkedin"
        style="font-size: 2rem; color: var(--title)"
      ></i>
    </a>
  </div>
</footer>
