<div class="hero-container">
  <span class="hero-name">Josh Wolfe</span>
  <div class="hero-tail"></div>
  <nav class="hero-nav">
    <a href="/index.html">Home</a>
    <a href="/pages/posts/index.html">Posts</a>
    <a href="/pages/about.html">About</a>
    <a href="/pages/contact.html">Contact</a>
  </nav>
  <label class="switch">
    <input id="theme-toggle" aria-label="Toggle dark mode" type="checkbox" />
    <span class="slider"></span>
  </label>
  <!-- <button id="theme-toggle" aria-label="Toggle dark mode">🌙</button> -->
</div>
