.posts-main {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  /* justify-content: center; */
  justify-content: center;
}

.post-listing {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-trans);
  text-decoration: none;

  border-radius: 0.5em;

  align-self: flex-start;

  max-width: 18em;
  padding: 1em 1em;

  transition:
    translate 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
}

.post-listing:hover {
  translate: -10px -5px;
  box-shadow: 10px 5px #0f1a1c;
  background-color: #38524f;
}

.post-thumb {
  display: block;
  max-height: 11.5em;
  width: 100%;
  object-fit: cover;
}

.post-date {
  color: var(--title);
  opacity: 0.5;
  padding: 5px 0 0 0;
}
.post-name {
  display: flex;
  align-items: center;
  width: 100%;
}
.post-name span {
  color: var(--title);
  flex: 1;
  min-width: 0;
  overflow-wrap: break-word;
}
.post-name img {
  width: 1.5em;
}
.sort-container {
  position: relative;
}

.sort-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.sort-btn {
  background-color: var(--title);
  border: none;
  color: var(--bg);
  border-radius: 0.2em;
  font-weight: bold;

  font-family: "Monaspace Neon";
  font-size: 1em;

  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    translate 0.2s ease;
}

.sort-btn:hover {
  background-color: var(--divider);
  color: var(--bg);
}

.sort-btn:active {
  background-color: color-mix(in srgb, var(--divider) 60%, transparent);
  translate: 5px 0;
}

.sort-menu button {
  display: flex;
  align-items: center;
  background-color: var(--bg-trans);
  color: var(--title);
  padding: 0.5em 1em;
  text-align: left;
  border: none;
  /* border-radius: 0.2em; */
  cursor: pointer;
  /* margin: 0.2em 0; */

  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    translate 0.2s ease;
}

.sort-menu button:first-child {
  border-radius: 0.5em 0.5em 0 0;
}
.sort-menu button:last-child {
  border-radius: 0 0 0.5em 0.5em;
}

.sort-menu button:hover {
  background-color: var(--divider);
  color: var(--bg);
  translate: -10px 0;
}

.sort-menu button span {
  flex: 1;
}

.sort-menu button i {
  margin-left: 1em;
  flex: 0;
}

.hidden {
  display: none;
}
