@import "nav.css";
@import "profile.css";
@import "posts.css";
@import "article.css";
@import "switch.css";

:root {
  --bg: #172526;
  --bg-trans: #1b2c2d;
  --title: #84baa0;
  --section: #6fa791;
  --text: #dbd0c6;
  --link: #ffd7aa;
  --divider: #f9ada0;
  --float: #0f1a1c;
  --shadow: #101d20;
  --hover: #233935;
}

[data-theme="dark"] {
  --bg: #172526;
  --bg-trans: #1b2c2d;
  --title: #84baa0;
  --section: #6fa791;
  --text: #dbd0c6;
  --link: #ffd7aa;
  --divider: #f9ada0;
  --float: #0f1a1c;
  --shadow: #101d20;
  --hover: #233935;
}
[data-theme="light"] {
  --bg: #f9fdce;
  --bg-trans: #f0f5c7;
  --title: #84baa0;
  --section: #6fa791;
  --text: #3d4a2b;
  --link: #dca838;
  --divider: #cf7859;
  --float: #e6eabe;
  --shadow: #ccd0a1;
  --hover: #dce6ba;
}

@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/monaspace-neon@latest/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/monaspace-neon@latest/latin-400-normal.woff)
      format("woff");
}

@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/monaspace-neon@latest/latin-700-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/monaspace-neon@latest/latin-700-normal.woff)
      format("woff");
}

@font-face {
  font-family: "Adwaita Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/adwaita-mono@latest/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/adwaita-mono@latest/latin-400-normal.woff)
      format("woff");
}

body {
  font-family: "Monaspace Neon", ui-monospace, monospace;

  display: flex;
  flex-direction: column;
  background: linear-gradient(
    125deg,
    var(--bg) 25%,
    var(--shadow) 25% 25.5%,
    var(--bg) 28% 50%,
    var(--shadow) 50% 50.5%,
    var(--bg) 53% 75%,
    var(--shadow) 75% 75.5%,
    var(--bg) 78%
  );
  background-attachment: fixed;
  max-width: 65em;
  min-height: 100vh;
  margin: 0 auto;

  transition: background-image 0.2s ease;
}

main {
  flex: 1;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.footer-text {
  color: var(--section);
  padding: 1rem;
  opacity: 0.5;
  font-size: 1rem;
}

.footer-icons {
  display: flex;
  gap: 1rem;
}

.footer-icons img {
  width: 30px;
  opacity: 0.5;
  background-color: var(--float);
  padding: 0.5em;
  border-radius: 50px;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
.footer-icons img:hover {
  opacity: 1;
  transform: scale(1.1);
}

p {
  color: var(--text);
  font-size: 1.2em;
}

.inline-link {
  color: var(--link);
  text-decoration: none;
  display: inline-block;

  background-image: linear-gradient(var(--link), var(--link));
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: bottom left;
  transition: background-size 0.2s ease;
}

.inline-link:hover {
  background-size: 100% 2px;
}

.section {
  margin: 0 0 5em 0;
}

.section-header {
  color: var(--title);
  margin-bottom: 0;
}

.section-divider {
  color: var(--title);
  font-size: 1.5em;
  margin-top: 0;
  font-family: "Adwaita Mono";
}

.project {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  padding: 4px 0;
  text-decoration: none;
  position: relative;

  margin: 1rem 0;

  font-size: 1.2rem;

  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease,
    translate 0.15s ease;

  img {
    align-self: flex-start;
    width: 30px;
  }
}

.project:hover {
  background-color: var(--bg-trans);
  translate: -10px -5px;
  box-shadow: 10px 5px var(--shadow);
}
.project-name {
  font-weight: bold;
  flex-shrink: 0;
  color: var(--section);
}

.project-desc {
  color: var(--text);
  flex: 1;
  opacity: 0.7;
}
